<html lang="zxx">

<head> <
	<%- include("./partials/meta.ejs") %>
	<!-- Favicon -->
	<link href="/img/favicon.ico" rel="shortcut icon" />

	<!-- Google font -->

	<link
		href="/https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
		rel="stylesheet">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" />
	<link rel="stylesheet" href="/css/slicknav.min.css" />
	<link rel="stylesheet" href="/css/owl.carousel.min.css" />

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="/css/style.css" />


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section  -->
	<header class="header-section">
		<%- include("./partials/navbar.ejs") %>
	</header>
	<div class="clearfix"></div>
	<!-- Header section end  -->
	<div class="container text-center mt-4">
		<h2 class="mt-4">Orders</h2>
		<div class="row text-center mt-4">
			<div class="col-12 mt-4">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						<% for(order of orders){ %>
						<tr>
							<td><%= order.name %></td>
							<td><%= order.email %></td>
							<td><%= order.shortDescription %></td>
							<td><a href="/admin/orders/view/<%=order.id%>">View</a></td>
							<td></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/instafeed.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>
